* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 7vh;
}

nav div {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 1vw;
}
nav div span a {
    text-decoration: none;
    color: white;
}
nav ul {
    display: flex;
    gap: 2vw;
}

nav ul li {
    list-style: none;
}

nav ul li button {
    padding: 0.5vh 0.5vw;
    border-radius: 10px;
    border: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 17px;
}
div a img {
    height: 4vh;
    margin-top: 0.4vh;
}

.head {
    text-align: center;
    margin-top: 50px;
    font-size: 2vw;
    word-spacing: 0.4vw;
    font-weight: bold;
}

@media only screen and (max-width: 600px)
{
    nav div {
        flex-direction: column;
        margin-right: 8vw;
        margin-left: 2vw;
    }

    nav {
        height: 9vh;
    }

    nav ul{
        gap: 0.5vw;
    }
    nav ul li button {
        line-height: 2.5vh;
        margin: 1vh 0vw;
        padding: 1vh 0.3vw;
        font-size: 14px;
        text-wrap: wrap;
    }
    .head {
        font-size: 4vw;
    }
}